@import url(./reset.css);

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(185, 218, 255);
    --tertiary-color: rgb(141, 194, 255);
    --font-color: rgb(0, 0, 0);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--font-color);
}

/* header styling */

header {
    padding: 1.5rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

button {
    padding: 0.5em 0.75em;
    border-radius: 12px;
    cursor: pointer;
}

header button:hover {
    outline: 2px solid rgb(255, 255, 255);
}

header button {
    background-color: var(--tertiary-color);
}

input,
select {
    padding-left: 0.75ch;
    height: 1.75rem;
    border-radius: 6px;
}

input {
    width: 20ch;
}

label {
    cursor: pointer;
}

/* main section styling */

main {
    padding: 1.5rem;
    width: 100%;
    background-color: var(--primary-color);
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 1rem;
}

.location.populated {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.expanded-weather.populated {
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.expanded-weather > div {
    position: relative;
    padding: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 12px;
}

.expanded-weather .temperature {
    padding-top: 2rem;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem 1rem;
}

.expanded-weather .precipitation,
.expanded-weather .description {
    padding-top: 2rem;
}

/* calendar styling */

.forecast-calendar.populated {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    border-radius: 12px;
    background-color: var(--secondary-color);
}

.day-container,
.forecast-day {
    padding: 0.25rem;
    border-radius: 8px;
    background-color: var(--tertiary-color);
}

.forecast-day {
    display: grid;
    place-content: center;
}

/* Popouts */

.popout-img {
    width: 2.75rem;
}

.popout-btn {
    position: absolute;
    top: -0.75rem;
    right: 0;
    padding-right: 0.75rem;
    background-color: transparent;
}

.popout {
    display: none;
    position: absolute;
    left: calc(100% + 0.75rem);
    top: 0;
    background-color: var(--tertiary-color);
    width: max-content;
    padding: 1rem;
    border: 0.5rem, solid var(--secondary-color);
    border-radius: 12px;
    box-shadow: 1px 2px 8px -2px rgb(54, 54, 54);
}

.open {
    display: block;
}
